
.div_card{ 
    margin: 10px;
    width: 500px;
    height: 200px;
}
.title{
    font-size: 15px;
    text-align: left;
    font-weight: bold;
}
.amount{
    font-size: 45px;
    font-weight: bolder;
    text-align: left;
}
.text{
    font-size: 12px;
    text-align: right;
}