
/* total body */
.body{
    background: rgb(214, 224, 234);
}


/* left menu */

.leftMenuCard{
    background: rgb(4, 116, 202);
}
.leftMenuCard_1{
    background: rgb(50, 1, 198);
    color: #fff;
}
.listItem{
    background: rgb(59, 54, 206);
}
.Image{
    height: 90px;
    width: 90px;
}
.Button{
    color: #fff;
    background: rgb(4, 116, 202);
    border-radius: 10px;
    transition: .5s;
}
.Button:hover{
    color: rgb(60, 59, 59);
    background: rgb(200, 231, 255);
    border-right: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    box-shadow: 3px 3px 5px #dadada;
}


/* main Body */

/* top menu */
.top_img{
    right: auto;
}
.top_img_display{
    display: none;
}

/* main body > top 3 card */

.displayCard{
    height: 500px;
}
.displayCard_1{
    height: 656px;
}
.displayCard_2{
    height: 350px;
}
.displayCard_3{
    height: 140px;
}
.boldText{
    font-weight: 900;
}
.row{
    --bs-gutter-x: 0rem;
}
.SaidMenu{
    display: block;
}
.SimilarPropertiesQuary{
    display: none;
}

@media only screen and (max-width: 991px) {
    .SaidMenu {
      display: none;
    }
    .top_img_display{
        display: block;
    }
    .SimilarPropertiesQuary{
        display: block;
    }
  }
  